In [1]:
from jobs_ac_uk import *
import pandas as pd

[Info] Loading Data
[Info] Loading Data completed

In [2]:
# test job request
jobs_ac_terms = ['computer', 'vision']
df = results_over_pages(jobs_ac_terms)
print('Number of results:', len(df))
df.head()

Number of results: 62

,job_title,Department,Employer,Location,Salary,Closing,Job_link
0,Research Associate in Computer Vision for Enha...,Department of Automatic Control and Systems En...,University of Sheffield,Sheffield,"£36,333",07 Jun,https://www.jobs.ac.uk/job/DAB756/research-ass...
1,PhD Studentship in Computing: Low Power and Hi...,,Newcastle University,Newcastle upon Tyne,"£17,668 ...",30 Jun,https://www.jobs.ac.uk/job/CYW053/phd-students...
2,PhD Studentship: Uncertainty quantification in...,Computer Science,University of Surrey,Guildford,"£18,622 ...",15 Jun,https://www.jobs.ac.uk/job/CZQ928/phd-students...
3,PhD Studentship - Using Computer Vision and Ma...,Computer Science,University of Sheffield,Sheffield,"£17,668",02 Jun,https://www.jobs.ac.uk/job/CZI934/phd-students...
4,Computing Technician,School of Computer Science,University of Lincoln,Lincoln,"£25,948 ...",04 Jun,https://www.jobs.ac.uk/job/CZS903/computing-te...

In [3]:
# test filtering by specific terms
technician_only = exclude_irrelevant(['job_title'], 'technician', df)
print('Number of results:', len(technician_only))
technician_only.head()

Number of results: 1

,job_title,Department,Employer,Location,Salary,Closing,Job_link
4,Computing Technician,School of Computer Science,University of Lincoln,Lincoln,"£25,948 ...",04 Jun,https://www.jobs.ac.uk/job/CZS903/computing-te...

In [4]:
# test exclusion of specific terms i.e. location
non_sheffield = exclude_specific(['Employer', 'Location'],'sheffield', df)
print('Number of results:', len(non_sheffield))
non_sheffield.head()

Number of results: 59

,job_title,Department,Employer,Location,Salary,Closing,Job_link
1,PhD Studentship in Computing: Low Power and Hi...,,Newcastle University,Newcastle upon Tyne,"£17,668 ...",30 Jun,https://www.jobs.ac.uk/job/CYW053/phd-students...
2,PhD Studentship: Uncertainty quantification in...,Computer Science,University of Surrey,Guildford,"£18,622 ...",15 Jun,https://www.jobs.ac.uk/job/CZQ928/phd-students...
4,Computing Technician,School of Computer Science,University of Lincoln,Lincoln,"£25,948 ...",04 Jun,https://www.jobs.ac.uk/job/CZS903/computing-te...
5,Professor in Alternative Computing,UCL London Centre for Nanotechnology and Natio...,UCL,London,"£61,923 to £67,25...",07 Jun,https://www.jobs.ac.uk/job/CZP677/professor-in...
6,Lecturer In Computer Science,School of Computing and Communications,Lancaster University,Lancaster,"£38,474 to £52,841",30 Jun,https://www.jobs.ac.uk/job/CZX993/lecturer-in-...

In [5]:
# test UK only
uk_only = get_uk('Location',df)
print('Number of results:', len(uk_only))
uk_only.head()

Number of results: 36

,job_title,Department,Employer,Location,Salary,Closing,Job_link
0,Research Associate in Computer Vision for Enha...,Department of Automatic Control and Systems En...,University of Sheffield,Sheffield,"£36,333",07 Jun,https://www.jobs.ac.uk/job/DAB756/research-ass...
1,PhD Studentship in Computing: Low Power and Hi...,,Newcastle University,Newcastle upon Tyne,"£17,668 ...",30 Jun,https://www.jobs.ac.uk/job/CYW053/phd-students...
3,PhD Studentship - Using Computer Vision and Ma...,Computer Science,University of Sheffield,Sheffield,"£17,668",02 Jun,https://www.jobs.ac.uk/job/CZI934/phd-students...
4,Computing Technician,School of Computer Science,University of Lincoln,Lincoln,"£25,948 ...",04 Jun,https://www.jobs.ac.uk/job/CZS903/computing-te...
5,Professor in Alternative Computing,UCL London Centre for Nanotechnology and Natio...,UCL,London,"£61,923 to £67,25...",07 Jun,https://www.jobs.ac.uk/job/CZP677/professor-in...

In [6]:
# test filtering by country
england_only = filter_by_country('Location', df, 'England')
print('Number of results:', len(england_only))
england_only.head()

Number of results: 36

,job_title,Department,Employer,Location,Salary,Closing,Job_link
0,Research Associate in Computer Vision for Enha...,Department of Automatic Control and Systems En...,University of Sheffield,Sheffield,"£36,333",07 Jun,https://www.jobs.ac.uk/job/DAB756/research-ass...
1,PhD Studentship in Computing: Low Power and Hi...,,Newcastle University,Newcastle upon Tyne,"£17,668 ...",30 Jun,https://www.jobs.ac.uk/job/CYW053/phd-students...
3,PhD Studentship - Using Computer Vision and Ma...,Computer Science,University of Sheffield,Sheffield,"£17,668",02 Jun,https://www.jobs.ac.uk/job/CZI934/phd-students...
4,Computing Technician,School of Computer Science,University of Lincoln,Lincoln,"£25,948 ...",04 Jun,https://www.jobs.ac.uk/job/CZS903/computing-te...
5,Professor in Alternative Computing,UCL London Centre for Nanotechnology and Natio...,UCL,London,"£61,923 to £67,25...",07 Jun,https://www.jobs.ac.uk/job/CZP677/professor-in...